body {
  margin: 0;
  font-family: Arial, Sans-serif;
}

h1, h2 {
  background-color: purple;
  display: block;
  color: white;
  margin: 0;
}

h1 {
  padding: 20px;
  margin-bottom: 0;
}

h2 {
  padding-bottom: 15px;
  padding-left: 60px;
}

.demo {
  margin: 20px;
}

.snippet {
  font-size: large;
  font-family: monospace;
  letter-spacing: 1px;
  line-height: 1.4;
}

.board {
  position: relative;
  user-select: none;
  padding: 30px;
}

.board-add-note {
  width: 1.75em;
  height: 1.75em;
  border-radius: 1.75em;
  border: none;
  font-size: 30px;
  background-color: purple;
  color: white;
  position: relative;
  left: -30px;
  top: -30px;
}

.window {
  position: absolute;
  overflow: visible;
  border: 3px solid purple;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.window > * {
  pointer-events: auto;
}

.note {
  opacity: 0.75;
}

.note-title {
  color: white;
  background-color: blue;
  white-space: nowrap;
  font-weight: bold;
  padding: 1.5ex;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: -1;
}

.note-content {
  background-color: lightgray; 
  position: relative;
  padding: 1.5ex;
  overflow: hidden;
  flex-grow: 1;
  z-index: -1;
}

.window-handle {
  position: absolute;
}

