<h3 class='behavior-report-title'>Inspection ({{subject}})</h3>

<div>
  <h4 class='behavior-report-subtitle'>Behaviors that are turned on</h4>
  <BehaviorList
    @behaviors={{behaviorsOn}}
  />
</div>

<div>
  <h4 class='behavior-report-subtitle'>Behaviors that are turned off</h4>
  <BehaviorList
    @behaviors={{behaviorsOff}}
  />
</div>

