<div>
  <div class='behavior-report-title'>Behaviors that are turned on</div>
  <BehaviorList
    @behaviors={{behaviors}}
  />
</div>

<div>
  <div class='behavior-report-title'>Behaviors that are turned off</div>
  <BehaviorList
    @behaviors={{behaviorsOff}}
  />
</div>
