<Window
  @rectangle={{model.rectangle}}
  @behaviors={{array (window-resize)}}
>
  <div class='note-title'>
    {{model.note.title}}
  </div>
  <div class='note-content'>
    {{model.note.content}}
  </div>
</Window>
